extends ./base.jade

block content
  mixin bad()
    li&attributes(attributes)
      i.fa.fa-li.fa-times
      block
  mixin good()
    li&attributes(attributes)
      i.fa.fa-li.fa-check
      block
  mixin section-break(title)
    section.section-break-slide(data-state="section-break")
      h2!= jade.escape(title).replace(/tt/g, '<span class="tt">tt</span>').replace(/\n/g, '<br/>')
      block
  mixin title-slide(title, subtitle, tag)
    section
      h1!= jade.escape(title).replace(/tt/g, '<span class="tt">tt</span>')
      #{tag||'p'}= subtitle || 'Forbes Lindesay'
      p slides.forbesl.co.uk
  .reveal
    // Any section element inside of this container is displayed as a slide
    .slides
      block slides
      block vanity-slide
        section
          h2 Forbes Lindesay
          p slides.forbesl.co.uk
          h3 Social Networks
          p Twitter: @ForbesLindesay
          p GitHub: @ForbesLindesay
          p Blog: www.forbeslindesay.co.uk
          h3 Open Source
          p Jade
          p Browserify Middleware
          p readable-email.org
          p brcdn.org
          p tempjs.org
  script(src="/index.js")
